*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family:monospace;
  }
  
  .main{
    background-image: url('https://wallpaperaccess.com/full/3604053.jpg');
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    padding: 10px;
    color: black;
    transition: 1s ease-out;
    /* display: block; */
    padding-top: 80px;
  }

  
  .main.hot{
    background-image: url('https://wallpapercave.com/wp/wp6048769.jpg');
    background-size: cover;
    color: white;
  }
  
  .main-body{
    text-align: center;
    /* color: aliceblue; */
    line-height: 4;
    
  }
  
  .weather-display{
    margin-top: 50px;
    /* display: block; */
    font-size: xx-large;
  }
  